[submodule "ZenithAttributes"]
	path = ZenithAttributes
	url = git@github.com:TheWinABagel/ZenithAttributes
[submodule "local_dependencies/ZenithAttributes"]
	path = local_dependencies/ZenithAttributes
	url = git@github.com:TheWinABagel/ZenithAttributes
